---
import BrandLayout from "../../../layouts/BrandLayout.astro";
import { running } from "../../../../public/store/adidas/running";
import Shoecard from "../../../components/Shoecard.astro";
import Label from "../../../components/Label.astro";
---

<BrandLayout
  title="SNEAKO - Adidas Running"
  brand="adidas"
  image="https://img.freepik.com/free-icon/adidas_318-565831.jpg"
>
  <div class="p-3 sm:px-32">
    <Label brand="adidas" type1="sneakers" type2="running" type3="football" />

    <div class="flex flex-wrap justify-center">
      {
        running.map(
          ({
            id,
            title,
            price,
            color,
            url,
            category,
            image,
            otherImages,
            description,
          }) => (
            <Shoecard
              {id}
              {title}
              {price}
              {color}
              {url}
              {category}
              {otherImages}
              {image}
              {description}
            />
          )
        )
      }
    </div>
  </div>
</BrandLayout>
